<div class="row">
    <div class="col">
        <input type="text" class="form-control" placeholder="Search artist" 
            (keyup)="search(keyword.value)" 
            #keyword
            >
    </div>
</div>

<!-- <div class="card-columns mt-5">
    <div class="card" *ngFor="let artista of artistas">
        <img [src]="artista.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ artista.name }}</h5>
        </div>
    </div>
</div> -->
<app-tarjetas [items]="artistas"></app-tarjetas>